<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>left-side Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5 p-5 border border-2  border-dark rounded">
                <div class="card" style="width: 18rem; height:auto;">
                    <div class="card-body p-5">
                        <a class="left-side text-center text-decoration-none" href="/Add-product">
                            <h5>Add-product</h5>
                        </a>


                        <a class="left-side text-center text-decoration-none" href="/view-product">
                            <h5>view-product</h5>
                        </a>

                        
                        <a class="left-side text-center text-decoration-none" href="/view-orders">
                            <h5>view-orders</h5>
                        </a>

                        <a class="left-side text-center text-decoration-none" href="/view-register">
                            <h5>view-register</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-center mt-5 border border-2 border-dark">
                <img src="../Assest/image/silly-monkey.gif" alt="this is gif">
            </div>
        </div>
    </div>
</body>

</html>