<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Page</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
</head>
<body>
     <!-- banner part start -->


    <div id="mycarousel" class="carousel side" data-bs-ride="carousel">
      
        <div class="carousel-inner"> <!-- ################ -->
    
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="./Assest/image/4028484.jpg" class="d-block w-100" style="height: 500px;">
          </div>
    
          <div class="carousel-item" data-bs-interval="2000">
    
            <img src="./Assest/image/8125396.jpg" class="d-block w-100" style="height: 500px;">
          </div>
    
          <div class="carousel-item" data-bs-interval="2000">
    
            <img src="./Assest/image/9747500.jpg" class="d-block w-100" style="height: 500px;">
    
          </div>
        </div> <!-- ################ -->
    
        <a href="#mycarousel" class="carousel-control-prev" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
    
        <a href="#mycarousel" class="carousel-control-next" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    
     <!-- banner part end -->
</body>
</html>